services:
  - type: web
    name: blitzapp
    env: node
    plan: starter
    buildCommand: yarn --frozen-lockfile --prod=false && blitz build
    # If you have an out of memory error, change startCommand to "yarn next start"
    startCommand: blitz start --production
    envVars:
      - key: NODE_ENV
        value: production
